.a-github{
    background-color: #333333;
}

.a-linkedin{
    background-color: #0082ca
}

.a-facebook{
    background-color: #3b5998;
}

.copyRight{
    background-color: rgba(0, 0, 0, 0.2);
}

.footer-link{
    margin-bottom:-1em;
}

footer{
    margin-top: 9em;
}