.cd-one {
  background-image: url("../images/caroline-attwood-QLjeFvxpdxc-unsplash.jpg");
  position: relative;
}
.cd-one:hover,
.cd-one:hover .cd-one-text-title-1,
.cd-one:hover .cd-one-text,
.cd-one:hover .cd-one-text-title-2,
.cd-one:hover .cd-one-i {
  background-image: linear-gradient(#001f3f, #001f3f, #001f3f);
  opacity: 3;
}

.cd-one-text {
  color: white;
  font-size: 15px;
  position: absolute;
  top: 38%;
  bottom: 50%;
  right: 40%;
  left: 12%;
  opacity: 0;
 

  
}
.cd-one-text-title-1 {
  color: white;
  font-size: 20px;
  position: absolute;
  top:25%;
  bottom: 50%;
  right: 40%;
  left: 9%;
  opacity: 0;
  font-weight: bold;
  text-decoration: underline;
  
  
}
.cd-one-text-title-2 {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 25%;
  bottom: 50%;
  right: 40%;
  left: 60%;
  opacity: 0;
  font-weight: bold;
  text-decoration: underline;
}


.cd-one-i {
  position: absolute;
  top: 38%;
  bottom: 50%;
  right: 29%;
  left: 64%;
  font-size: 36px;
  opacity: 0;
  color: white;
}

.cd-two {
  background-image: url("../images/jazmin-quaynor-18mUXUS8ksI-unsplash.jpg");

  filter: grayscale(100%);
}

#cardBdOne,
#cardBdTwo,
#cardBdThree,
#cardBdFour,
#cardBdFive,
#cardBdSix {
  padding: 4em;
  margin: 2em;
  padding-bottom: 10em;
  box-shadow: 5px 10px;
  background-size: cover;
}

.cd-left {
  margin-left: 2em;
}
.cd-right {
  margin-right: 2em;
}
